.een {
    margin: 0;
    min-height: 100vh; 
    background-image: url('../assets/images/Startpagina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.twee {
    margin: 0;
    min-height: 100vh; 
    background-image: url('../assets/images/studio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.drie {
    margin: 0;
    min-height: 100vh; 
    background-image: url('../assets/images/bekabeling.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.vier {
    margin: 0;
    min-height: 100vh; 
    background-image: url('../assets/images/contact.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.foto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.3); 
}
.foto_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  text-align: center;
  color: white;

}

h1 { 
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem; 
}

.navbar a {
  color: white ;
}

.navbar a:hover {
  color:   #1db954 ;
}

.navbar {
  padding: 0 60px; 
}

.project-img {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
  border-radius: 10px;
}

.dropdown-menu {
    background-color: black ;
    border: 1px solid brown;
}

.dropdown-item {
    color: white;
}

